@use "src/variables" as vars;

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 2em 0;
  padding: 0;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: vars.$color-base-light;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    transition: all 0.3s;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(vars.$color-base-light, 0.2);
      cursor: pointer;
    }

    &.selected {
      background-color: vars.$color-brand-green;
      color: vars.$color-base-dark;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid vars.$color-brand-green;
        border-top: 0.12em solid vars.$color-brand-green;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(vars.$color-base-light, 0.2);
        border-top: 0.12em solid rgba(vars.$color-base-light, 0.2);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
