@use "src/variables" as vars;

.search {
  max-width: 1200px;
  margin: 0 auto;
  &-form {
    display: flex;
    margin: 2em 0;
    @media only screen and (max-width: vars.$mobile-breakpoint) {
      flex-direction: column;
      input[type="search"] {
        margin-bottom: 5px;
      }
    }

    input[type="search"] {
      width: 100%;
      background-color: white;
      color: black;
      height: 50px;
      line-height: 50px;
      padding: 20px;
      border-radius: 25px;
      border: 1px solid vars.$color-brand-blue;
      margin-right: 10px;
    }
  }

  &-results {
    &-result {
      color: vars.$color-brand-yellow;
    }
  }
}
