// colours
$color-bg: #242424;
$color-base-light: #fff;
$color-base-dark: #000000;
$color-brand-purple: #9933ff;
$color-brand-blue: #6157ff;
$color-brand-green: #09fe99;
$color-brand-yellow: #fff35b;
$color-brand-red: #ff6666;

// breakpoints
$mobile-breakpoint: 600px;
